.item-loop {
    border: 1px solid #dfdfdf;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px;
    a {
        text-decoration: none;
        transition: all 0.3s;
    }
    .sale_info {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 10px;
        top: -25px;
        color: #fff;
        font-size: 15px;
        background-color: #5191fa;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 999;
        border: solid 3px #fff;
    }
    .featured {
        position: absolute;
        top: 20px;
        left: 0;
        background: #ED0925;
        display: inline-block;
        padding: 0 10px;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
        z-index: 1;
        height: 30px;
        line-height: 30px;
        &:after {
            position: absolute;
            content: '';
            top: -9px;
            right: -10px;
            border: 10px solid transparent;
            border-bottom: 29px solid #ED0925;
            z-index: 1;
        }
    }
    .thumb-image {
        overflow: hidden;
        background: #FFF;
        position: relative;
        padding-bottom: 55%;
        &:hover {
            a {
                img {
                    transform: scale(1.1);
                }
            }
        }
        a {
            img {
                transition: all 0.3s;
                max-width: 100%;
            }
        }
        .service-wishlist{
            position: absolute;
            right: 5px;
            z-index: 10;
            top: 0px;
            color: #000;
            padding: 10px;
            cursor: pointer;
            i{
                transition: all 0.3s;
                font-size: 16px;
            }
            &:hover,&.loading{
                i{
                    color: #ff9290;
                }
            }
            &.active{
                i{
                    color: #ff0000;
                    &:before {
                        content: "\f004";
                    }
                }
            }
        }
    }
    .location {
        font-size: 13px;
        color: #5e6d77;
        padding: 0 15px;
        i {
            position: relative;
            font-size: 16px;
        }
    }
    .category {
        padding: 0 15px;
        .fa {
            color: #687882;
            opacity: 0.6;
        }
    }
    .service-review {
        .rate {
            color: #5191FA;
        }
        padding: 10px 15px 0;
        .review {
            margin-left: 30px;
            position: relative;
            color: #6A7A84;
            &:after {
                position: absolute;
                content: '';
                width: 4px;
                height: 4px;
                background: #D0D7DD;
                border-radius: 50%;
                left: -18px;
                top: 8px;
            }
        }
    }
    .item-title {
        padding: 20px 15px 5px;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        @media(max-width: 766px){
            min-height: auto;
        }
        a {
            color: #1A2B50;
        }
        p {
            color: #1A2B50;
        }
        i{
            color: #ffc107;
            font-size: 15px;
            margin-right: 2px;
        }
    }
    .info {
        &:before, &:after {
            content: "";
            display: table;
            clear: both;
        }
        .g-price {
            text-align: left;
            .prefix {
                color: #5e6d77;
                display: inline-block;
                font-weight: normal;
                position: relative;
                i{
                    font-size: 16px;
                    color: #ffc107;
                }
            }
            .price {
                position: relative;
                display: inline-block;
                .text-price {
                    font-size: 18px;
                    color: #1A2B48;
                    font-weight: 500;
                }
                .onsale {
                    //position: absolute;
                    // right: 0;
                    // top: -15px;
                    text-decoration: line-through;
                    font-size: 14px;
                    color: #cc0033 !important;
                    font-weight: 400;
                }
                .unit{
                    font-size: 14px;
                    color: #5E6D77;
                    font-weight: normal;
                }
            }
        }
    }

    .amenities {
        margin: 10px 15px 5px;
        display: flex;
        font-size: 13px;
        justify-content: space-between;
        .amenity {
            //flex: 0 0 22px;
            align-items: center;
            text-align: center;
            .input-icon {
                font-size: 20px;
                color: #505050;
                position: relative;
                top: 1px;
            }
            .text{
                display: block;
            }
        }
        .icon-passenger{
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url("../../../module/car/images/passenger.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
        .icon-baggage{
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url("../../../module/car/images/baggage.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
        .icon-door{
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url("../../../module/car/images/door.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
        .icon-gear{
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url("../../../module/car/images/gear.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &.infobox-item{
        position: relative;
        &:after{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            border-width: 10px;
            border-color: transparent #fff #fff transparent;
            bottom: -9px;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-box-shadow: 1px 1px 0px #dfdfdf;
            box-shadow: 1px 1px 0px #dfdfdf;
            background: #fff;
        }
    }
}
